.div-form-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
    gap: 1em;
    padding: 0.5em;

    // .inputs {
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     align-items: center;
    //     justify-content: center;          
    //     gap: 0.5em;
    // }

    input {
        border: none;
        background: none;
        outline: none;
        border: 2px solid var(--color2);
        border-radius: 8px;
        padding: 0.4em;
        font-size: 16px;
        color: var(--fontcolor);
        width: 260px;
        height: 50px;
        flex: 1 0 130px;
    }

    input::placeholder {
        font-size: 16px;
        color: rgb(175, 170, 170);
    }

    button {
        border: none;
        background: none;
        outline: none;
        // width: 80px;
        // height: 50px;
        color: var(--fontcolor);
        font-size: 1em;
        border: 2px solid var(--color2);
        border-radius: 8px;
        font-weight: 500;
        flex: 1 0 80px;
    }

    button:hover {
        cursor: pointer;
        background-color: var(--color2);
        color: black;
        transform: rotate(1.1);
        transition: all 0.3s;
    }
}