.div-message {
    min-width: 320px;
    max-width: 500px;
    height: auto;
    padding: 0.5em;
    margin-top: 0;
    background-color: rgba(179, 75, 75, 0.498);
    border-radius: 8px;
    color: var(--fontcolor);
}